.category-container {
  background-color: rgb(243, 211, 249);
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.category-container h2 {
  margin-bottom: 10px;
  color: #333;
}

.menu-dish {
  margin-top: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-dish h3 {
  margin-bottom: 5px;
  color: #333;
}

.menu-dish p {
  color: #666;
  margin-bottom: 5px;
}
