/* General styles */
.delivery-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid;
    border-radius: 8px;
    background-color: #a886d8;
  }
  
  .delivery-header h1 {
    color: #000000;
    margin-bottom: 20px;
  }
  
  .delivery-detail {
    color: #000000;
    background-color: #a886d8;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .delivery-container {
      margin: 10px;
      padding: 15px;
    }
  
    .delivery-header h1 {
      font-size: 24px;
    }
  
    .delivery-detail {
      font-size: 14px;
    }
  }
  
  .button4 {
    padding: 16px 24px;
    background-color: #8361ac;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s;
    font-weight: bold;
    text-decoration: none;
  }

  .select-style {
    border: 1px solid #ccc;
    width: 200px; /* Adjust width as needed */
    padding: 8px;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    background-color: white;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px center;
  }
  
  /* Style for the options within the select element */
  .select-style option {
    background-color: white;
    color: black;
  }
  
  /* Custom styling for the select element */
  .custom-select {
    display: inline-block;
    position: relative;
  }
  
  /* Styling for the select arrow */
  .custom-select::after {
    content: '\25BC'; /* Unicode character for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  