/* Customer Dashboard Styles */
.customer-dash-container {
    width: 93%;
    margin: 0 auto;
  }
  
  .location-info-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .location-heading {
    color: #333;
    margin-top: 10px;
  }
  
  .search-section {
    margin-bottom: 20px;
  }
  
  .restaurants-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .restaurant-link {
    display: block; /* Makes the link take up the entire space of its container */
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Inherits color from parent to keep text appearance consistent */
    margin-bottom: 10px; /* Space between each restaurant item if needed */
  }
  
  .restaurant-item {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust based on your design */
    padding: 10px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
    border: 1px solid #ddd; /* Optional: if you want a border around each item */
  }
  
  .restaurant-item:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: if you want a hover effect */
  }
  
  .restaurant-name {
    font-size: 20px;
    color: #333;
    margin: 0;
    flex-grow: 1;
  }
  
  .restaurant-info {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .restaurant-info li {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .load-more-btn-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .load-more-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .load-more-btn:hover {
    background-color: #0056b3;
  }
  
  .restaurant-address, .restaurant-filters {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .filter-list, .address-details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 0;
  }
  
  .filter-item, .address-detail {
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #666;
  }
  
  .restaurant-status {
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
    border-radius: 5px;
    color: #4CAF50; /* Open status */
  }
  
  .restaurant-status.Closed {
    color: #F44336; /* Closed status */
  }
  