.customer-dash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.customer-dash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

.dataandlocation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #a886d8;
  width: 300px;
  height: 100px;
  color: rgb(40, 2, 50);
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.customer-dash-container h1,
h3,
span {
  color: #a886d8;
}

.location-heading {
  margin-bottom: 10px;
}

.location-info-section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.search-section {
  margin-bottom: 20px;
}

.restaurants-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.restaurant-link {
  width: 400px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  background-color: rgb(248, 237, 250);
  border-radius: 5px;
  transition: background-color 0.3s;
}

.restaurant-link:hover {
  background-color: #ede0ff;
}

.restaurant-item {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: box-shadow 0.3s ease;
  width: 400px;
}

.restaurant-item:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.restaurant-items {
  display: flex;
  gap: 20px; /* Gap between items */
  list-style: none;
  white-space: nowrap;
}

.restaurant-name {
  font-size: 20px;
  color: #333;
  margin: 0;
  margin-left: 10px;
  height: 35vh;
}

.restaurant-info {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 20px;
}

.restaurant-info li {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
  margin-left: 20px;
}

.restaurant-status {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 15px;
  color: #ffffff;
  width: fit-content;
  margin-top: 10px;
  margin-left: 20px;
  color: black;
  background-color: white;
}

.restaurant-status.Open {
  background-color: #4caf50;
}

.restaurant-status.Closed {
  background-color: #f44336;
}

.load-more-btn-container {
  text-align: center;
  margin-top: 20px;
}

.load-more-btn {
  background-color: #a886d8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 300px;
}

.load-more-btn:hover {
  background-color: #bf92fe;
}

.restaurant-address,
.restaurant-filters {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 20px;
}

.filter-list,
.address-details {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 0;
  list-style: none;
  margin-left: 20px;
}

.filter-item,
.address-detail {
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  color: #666;
  list-style: none;
}

.restaurant-image {
  width: 400px;
  height: 280px;
}
